<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSSE480 WebDev {{username}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <style type="text/css">
    body {
      padding-top: 70px;
    }
    .panel-title > a.lab {
      color: #428bca;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CSSE 480 Web App Frameworks with App Engine</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://sites.google.com/site/appenginefall2016/">Course homepage</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    {% for track in tracks %}
      {% if track[1] %}
        <h2>{{track[0]}}</h2>
          {% for unit in track[1] %}
          {# <div style="color: red;">{{ unit[0] }}</div> #}
            {% if unit[1] %}
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse{{loop.depth0}}{{loop.index0}}">
                    {{unit[0]}}
                  </a>
                </h4>
              </div>
              <div id="collapse{{loop.depth0}}{{loop.index0}}" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                  {% for i in range(unit[3]) %}
                    <li><a href="{{unit[2]}}/exercise{{i}}.html">Exercise {{i}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            {% else %}
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="lab" href="{{unit[2]}}">{{unit[0]}}</a><br>
                </h4>
              </div>
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
